:root{
    --gobiernoColor: #303845;
}

.sidebar {
    padding: 8px;
    align-items: center;
}

.sideBarButton {
    padding: 10px;
    display: block;
}

.sidebarColor {
    color: var(--gobiernoColor);
    border-color: var(--gobiernoColor);
}
.sidebarColor:hover {
    background-color: var(--gobiernoColor);
    border-color: gray;
}

.navActiveColor {
    background-color: var(--gobiernoColor) !important;
    border-color: gray;
}

.navTextColor {
    color: var(--gobiernoColor);
}
.navTextColor:hover{
    color: gray;
}
.navTextColor:focus{
    color: var(--gobiernoColor);
}

.navActiveColorDropDown:focus {
    color: white;
    background-color: white;
    color: var(--gobiernoColor);
}

.navTextSmall {
    font-size: 13px;
}

.btnSidebar {
    width: 200px;
}

.linesButton {
    width: 1.3em;
    height: 1.3em;
}

.inputSearchLarge {
    padding-left: 5%;
}

.inputLeftColor {
    width: 195px;
    background-color: lightgray;
    display: block;
}

.btnTableHeader {
    display: flex;
    justify-content: center;
}
.btnTable:hover {
    background-color: var(--gobiernoColor) !important;
    border-color: gray;
}

.tableFont {
    font-size: 13.5px;
}

.imgCumple {
    width: 100px;
}

.selectLarge {
    width: 55%;
}